@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

$primary:       #59656f;
$secondary:     #ac9fbb;
$warning:       #ddbdd5;
$light:         #f7ebec;
$dark:          #1d1e2c;

$font-family-sans-serif: "Poppins", sans-serif;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/forms";
@import "./grid";

@import "../node_modules/bootstrap/scss/utilities/api";
