@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

$primary:       #e4b61a;
$secondary:     #fbe134;
$light:         #e9eaec;
$dark:          #0b0c0c;

$font-family-sans-serif: "Poppins", sans-serif;

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-track {
    background-color: transparent; 
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff44; 
    border: none;
}

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/forms";
@import "./grid";

@import "../node_modules/bootstrap/scss/utilities/api";
