@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";

.navbar-custom {
    @extend .navbar-dark;

    .navbar-nav {
        .nav-link {
            &:hover,
            &:focus {
                color: $primary;
            }
        }
    }

    .btn-buy {
        @extend .btn-outline-light;
        color: $primary;
        border-color: $primary;

        &:hover {
            background-color: $primary;
            border-color: $primary;
        }
    }

    .navbar-brand {
        color: $secondary; 
        font-size: $font-size-base * 1.6;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;

        &:hover,
        &:focus {
            color: $primary;
            cursor: pointer;
        }
    }
}
